<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
          <allow roles="Editor" />
          <allow roles="Contributor" />
        </authorization>
    </system.web>
  <location path="loading.htm">
    <system.web>
      <authorization>
      <allow roles="Editor" />
      <allow roles="Contributor" />
      </authorization>
    </system.web>
  </location>
</configuration>