@charset "UTF-8";
/* CSS Document */

body
 {
    background:#0682ce;
 }
.modal-footer {   border-top: 0px; }

.modal-header h1 {font-size: 21px; color: #CCC;}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

