body {
	margin:0
}
a {
	background:0 0
}
a:active, a:hover {
	outline:0
}
b, strong {
	font-weight:700
}
dfn {
	font-style:italic
}
mark {
	color:#000;
	background:#ff0
}
small {
	font-size:80%
}
sub, sup {
	position:relative;
	font-size:75%;
	line-height:0;
	vertical-align:baseline
}
sup {
	top:-.5em
}
sub {
	bottom:-.25em
}
img {
	border:0
}
svg:not(:root) {
overflow:hidden
}
figure {
	margin:1em 40px
}
hr {
	height:0;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box
}
pre {
	overflow:auto
}
code, kbd, pre, samp {
	font-family:monospace, monospace;
	font-size:1em
}
table {
	border-spacing:0;
	border-collapse:collapse
}
td, th {
	padding:0
}
a, a:visited {
	text-decoration:underline
}
pre, blockquote {
	border:1px solid #999;
	page-break-inside:avoid
}
thead {
	display:table-header-group
}
tr, img {
	page-break-inside:avoid
}
img {
	max-width:100%!important
}
h1 {
	margin:.67em 0;
	font-size:2em
}
p, h2, h3 {
	orphans:3;
	widows:3
}
h2, h3 {
	page-break-after:avoid
}
html {
	font-size:10px;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0)
}
body {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	line-height:1.42857143;
	color:#333;
	background-color:#fff
}
a {
	color:#70b01c;
	text-decoration:none
}
a:hover, a:focus {
	color:#177848;
	text-decoration: none;
}
a:focus {
	outline:thin dotted;
	outline:5px auto -webkit-focus-ring-color;
	outline-offset:-2px
}
img {
	vertical-align:middle
}
hr {
	margin-top:20px;
	margin-bottom:20px;
	border:0;
	border-top:1px solid #eee
}

h1, h2, h3, h4, h5, h6 {
	font-family:inherit;
	font-weight:500;
	line-height:1.1;
	color:inherit
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	font-weight:400;
	line-height:1;
	color:#777
}
h1, h2, h3 {
	margin-top:20px;
	margin-bottom:10px
}
h1 small, h2 small, h3 small  {
	font-size:65%
}
h4, h5, h6 {
	margin-top:10px;
	margin-bottom:10px
}
h4 small, h5 small, h6 small {
	font-size:75%
}
h1 {
	font-size:36px
}
h2 {
	font-size: 24px
}
h3 {
    color: #70b01c;
	font-size:24px
}
h4 {
	font-size:18px;
	border-bottom: 4px solid #70b01c;
	padding-bottom: 5px;
}
h5 {
	font-size:14px
}
h6 {
	font-size:12px
}
p {
	margin:0 0 10px
}
ul, ol {
	margin-top:0;
	margin-bottom:10px
}
ul ul, ol ul, ul ol, ol ol {
	margin-bottom:0
}
dl {
	margin-top:0;
	margin-bottom:20px
}
dt, dd {
	line-height:1.42857143
}
dt {
	font-weight:700
}
dd {
	margin-left:0
}
address {
	margin-bottom:20px;
	font-style:normal;
	line-height:1.42857143
}
table {
	background-color:transparent
}
th {
	text-align:left
}
.page-header {
	padding-bottom:9px;
	margin: 40px 0 20px;
	border-bottom: 0px solid #eee;
	color: #70b01c;
	font-family: 'Maven Pro', sans-serif;
}
.img-responsive {
	display:block;
	width:100% \9;
	max-width:100%;
	height:auto
}
.img-portfolio {
margin-bottom: 30px;
}
.col-md-3, .col-md-4, .col-md-6 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-md-3 {
    width: 25%;
}
.col-md-4 {
    width: 33.33333333%;
}
.col-md-6 {
    width: 50%;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-primary {
color: #fff;
background-color: #70b01c;
border-color: #70b01c;
-moz-box-shadow: 0 0 7px #d7ddc0;
-webkit-box-shadow: 0 0 70px #d7ddc0;
box-shadow: 0 0 7px #d7ddc0;
}








