<div class="row">
    <div class="col-md-6 img-portfolio">
        <a href="pressure-vessels.aspx">
            <img class="img-responsive" src="/app_themes/default/images/insert_image_here.png" alt="">
        </a>
        <h3>
            <a href="#">Product 1</a>
        </h3>
        <p>Sample description here.</p>
    </div>
    <div class="col-md-6 img-portfolio">
        <a href="">
            <img class="img-responsive" src="/app_themes/default/images/insert_image_here.png" alt="">
        </a>
        <h3>
            <a href="#">Product 2</a>
        </h3>
        <p>Sample description here.</p>
    </div>
</div>